__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

.env
.venv
env/
venv/
ENV/


.ipynb_checkpoints/
.vscode/
.idea/
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

data/*
!data/dataset.py
!data/.gitkeep

models/*
!models/.gitkeep

outputs/
lora_model/

deepseek_ocr/
*.pem
*.key
.env.local
.env.*.local

API.txt
/data
